<div class="footer-div">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-6 col-lg-6 company">
      <p class="real-p">RealPage,Inc. is a registered ISO of Wells</p>
      <p>Fargo Bank, N.A., Concord, CA</p>
    </div>
    <div class="col-md-6 col-sm-6 col-6 col-lg-6 logo-propertyware-white">
      <img src="../../../assets/logo.PNG" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-sm-4 col-6 col-lg-4 copyright-dates">
      <p class="copyright">&#169; Copyright &copy; Propertyware 2003-2018. All rights reserved.</p>
    </div>
    <div class="col-md-4 col-sm-2 col-6 col-lg-3 offset-md-3 offset-sm-6 offset-lg-5 copyright-dates">
      <p class="terms">Terms of use | Privacy Policy</p>
    </div>
  </div>
</div>