<div class="row payment-div m-t-30 m-l-0 m-r-0">
  <div class="col-md-10 col-sm-10 col-12 col-lg-10 payment">
    <p class="m-b-0 f-20 col-md-12 col-12 col-sm-12 col-lg-12 f-w-600">Payment successful</p>
    <p class="col-md-12 col-12 col-sm-12 col-lg-12 f-14">Your payment was made successfully. If you
      have any questions please contact the propert
      at (555) 555-1212 or
      jim@bluecloud.com</p>
  </div>
  <!-- <div class="col-md-2 col-sm-2 col-2 col-lg-2 icons-div">
    <span class="col-6 col-md-6 col-sm-6 col-lg-6">
      <i class="fa fa-print" aria-hidden="true"></i>
    </span>
    <span class="col-6 col-md-6 col-lg-6 col-sm-6">
      <i class="fa fa-home" aria-hidden="true"></i>
    </span>
  </div> -->
</div>
<div class="form-feilds">
  <div class="row text-div">
    <p class="col-md-12 col-lg-12 col-sm-12 col-12 f-w-600 p-l-0 p-r-0">Your Receipt</p>
    <p class="col-md-12 col-lg-12 col-sm-12 col-12 f-14 p-l-0 p-r-0">Your payment was made successfully. If
      you have any questions please contact the
      property at (555) 555-1212 or
      jim@bluecloud.com</p>
  </div>
  <div class="row general-text">
    <div class="col-md-12 col-lg-12 col-sm-12 col-12 p-l-0 p-r-0">
      <p class="m-b-0 f-16 f-w-500">General Fees</p>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-12 p-l-0 p-r-0">
      <p class="f-14 m-b-20"><span>Confirmation:</span> <span class="f-w-600">T:CWTTCT04JLLAA</span></p>
    </div>
  </div>
  <div class="table-row row p-r-0 p-l-0 m-l-0">
    <div class="Row row m-r-0 m-l-0">
      <div class="Cell col-lg-10 col-md-9 col-sm-8 col-7">
        <p>Online Application Fee</p>
      </div>
      <div class="Cell col-lg-2 col-md-3 col-sm-4 col-5">
        <p>$65.00</p>
      </div>
    </div>
    <div class="Row row m-r-0 m-l-0">
      <div class="Cell col-lg-10 col-md-9 col-sm-8 col-7">
        <p>Online Administrative Fee</p>
      </div>
      <div class="Cell col-lg-2 col-md-3 col-sm-4 col-5">
        <p>$150.00</p>
      </div>
    </div>
    <div class="Row row m-r-0 m-l-0">
      <div class="Cell col-lg-10 col-md-9 col-sm-8 col-7">
        <p>Convenience Fee</p>
      </div>
      <div class="Cell col-lg-2 col-md-3 col-sm-4 col-5">
        <p>$5.00</p>
      </div>
    </div>
    <div class="Row row m-r-0 m-l-0">
      <div class="Cell col-lg-10 col-md-9 col-sm-8 col-7">
        <p>Total</p>
      </div>
      <div class="Cell col-lg-2 col-md-3 col-sm-4 col-5">
        <p>$220.00</p>
      </div>
    </div>
  </div>
</div>